<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/static/favicon.ico">
    <title>DIMES | Diapycnal and Isopycnal Mixing Experiment in the Southern Ocean</title>

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,600' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="/static/screen.css">
{% block links %}{% endblock %}
  </head>
  <body>
  <div class="wrapper">
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="navbar-logo">
          <a href="/"><img src="/static/images/logos/dimes_logo4.gif" width="120px" id="logo"></a>
          <p>Diapycnal and Isopycnal Mixing Experiment in the Southern Ocean</p>
        </div>
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapsed-nav">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="collapsed-nav">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/components">Components</a></li>
            <li><a href="/fieldwork">Fieldwork</a></li>
            <li><a href="/cruise_reports">Cruise Reports</a></li>
            <li><a href="/publications">Publications</a></li>
            <li><a href="/outreach">Outreach</a></li>
            <li><a href="/people">People</a></li>
            <li><a href="/calendar">Calendar</a></li>
            <li><a href="/data">Data</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <content>
    <div class="container">
      {% block content %}{% endblock %}
    </div>
    </content>
    <div class="footer-push"></div>
  </div>

    <footer>
      <nav class="navbar" role="navigation">
        <div class="container nowrap">
          <div class="row">
            <div class="col-xs-12">
              <ul class="nav nav-pills navbar-nav" style ="margin:0px;">
                <li><a href="http://nsf.gov"><img alt="Nsf_logo" height="30" src="/static/images/logos/nsf_logo.gif"></a></li>
                <li><a href="http://www.nerc.ac.uk"><img alt="Ner_logo" height="30" src="/static/images/logos/ner_logo.gif"></a></li>
                <li><a href="http://www.antarctica.ac.uk"><img alt="Bas_logo" height="30" src="/static/images/logos/bas_logo.gif"></a></li>
                <li><a href="http://www.clivar.org"><img alt="Clivar_logo" height="30" src="/static/images/logos/clivar_logo.png"></a></li>
              </ul>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <small>DIMES is sponsored by the National Science Foundation (U.S.), Natural Environment Research Council (U.K), and British Antarctic Survey (U.K.)</small>
            </div>
          </div>
        </div>
      </nav>
    </footer>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!-- Latest compiled and minified JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.js"></script>
    {% block scripts %}{% endblock %}
  </body>
</html>
