{% extends "base.html" %}
{% block content %}
<div class="row">
  <h1 style="text-align: left;">Components</h1>
  <div class="col-md-6">
    <h4>DIMES is composed of a number of different activities, summarized here:</h4>
    <ul>
      <li>Tracer release</li>
      <li>Microstructure and Finestructure Measurements</li>
      <li>Isopycnal following RAFOS floats</li>
      <li>Drake Passage mooring array</li>
      <li>Shearmeter measurements <a href="/static/components/DIMES_Shearmeter_Summary.pdf"><img height="13" src="/static/images/logos/pdf.jpg">overview/status</a></li>
      <li>Analysis of POP and OCCAM model output</li>
      <li>Hydrography, inverse modeling, and Bernoulli inverse</li>
      <li>Analysis of satellite altimetry</li>
    </ul>
  </div>
  <div class="col-md-6">
    <h4>The original proposal PDFs summarize the US and UK programs:</h4>
    <ul> 
      <li><a href="/static/components/dimes_us.pdf"><img height="13" src="/static/images/logos/pdf.jpg"> US Proposal</a></li> 
      <li><a href="/static/components/dimes_uk.pdf"><img height="13" src="/static/images/logos/pdf.jpg"> UK Proposal</a></li> 
      <li><a href="/static/components/Ferrarietal.pdf"><img height="13" src="/static/images/logos/pdf.jpg"> US Float Supplement Proposal (Ferrari, Marshall, Speer)</a></li> 
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h2 style="text-align: left;">Modeling</h2>
    <p>DIMES involves numerical models of all scales, both to help with planning experiment design and data analysis, and also with an aim to eventually improving models used for climate simulations. Here's a summary of current projects, some funded through DIMES and some independently supported. (Web sites and e-mail addresses are listed as points of contact.)</p>
    <table class="table table-condensed">
      <tr class="active">
        <td>OCCAM Analysis</td>
        <td>Emily Shuckburgh</td>
        <td>Effective diffusivities</td>
        <td><a href="http://www.atm.damtp.cam.ac.uk/shuckburgh/technical/index.html">http://www.atm.damtp.cam.ac.uk/shuckburgh/technical/index.html</a></td>
        <td><a href="mailto:emsh@bas.ac.uk">emsh@bas.ac.uk</a></td>
      </tr>
      <tr class="active">
        <td>OCCAM Analysis</td>
        <td>Dave Stevens</td>
        <td>Tracer release, effective diffusivities, spice</td>
        <td><a href="http://www.uea.ac.uk//~dps/">http://www.uea.ac.uk//~dps/</a></td>
        <td><a href="mailto:D.Stevens@uea.ac.uk">D.Stevens@uea.ac.uk</a></td>
      </tr>
      <tr class="active">
        <td>POP Analysis</td>
        <td>Alexa Griesel, Julie McClean, Mat Maltrud, Joe LaCasce, Sarah Gille, Janet Sprintall</td>
        <td>Eulerian and Lagrangian effective diffusivities</td>
        <td><a href="http://www-pord.ucsd.edu/~agriesel/">http://www-pord.ucsd.edu/~agriesel/</a></td>
        <td><a href="mailto:agriesel@ucsd.edu">agriesel@ucsd.edu</a></td>
      </tr>
      <tr class="active">
        <td>Process Studies</td>
        <td>George Nurser and David Smeed</td>
        <td>High-resolution process modelling work studying the generation of internal waves by jets and eddy flows over topography, with a view to developing new diapycnal mixing parameterizations.</td>
        <td><a href="http://www.noc.soton.ac.uk/JRD/PROC/people/agn/index.php">http://www.noc.soton.ac.uk/JRD/PROC/people/agn/index.php</a></td>
        <td><a href="mailto:G.Nurser@noc.soton.ac.uk">G.Nurser@noc.soton.ac.uk</a></td>
      </tr>
      <tr class="active">
        <td>Process Studies (NICKELS)</td>
        <td>Jen MacKinnon</td>
        <td>Internal lee waves</td>
        <td><a href="http://www-pord.ucsd.edu/">http://www-pord.ucsd.edu/</a></td>
        <td><a href="mailto:jmackinn@ucsd.edu">jmackinn@ucsd.edu</a></td>
      </tr>
      <tr class="active">
        <td>SOSE analysis</td>
        <td>Ryan Abernathey, John Taylor, Raf Ferrari, John Taylor</td>
        <td>Nakamura-style diffusivities, Lagrangian diffusivities</td>
        <td>N/A</td>
        <td><a href="mailto:raffaele@mit.edu">raffaele@mit.edu</a></td>
      </tr>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <table class="table table-bordered">
      <h2 style="text-align: left;">Technology</h2>
      <tr class="active">
        <td><h4>Instrument</h4></td>
        <td><h4>How many</h4></td>
        <td><h4>Where</h4></td>
        <td><h4>What/how they measure</h4></td>
      </tr>
      <tr class="active">
        <td>Tracer patch</td>
        <td>12 streaks of ~40 kg each</td>
        <td>Released in the SE Pacific, will end up in the Scotia Sea after
            around three years in the ACC</td>
        <td>Levels of tracer in sampled
            seawater will show its distribution 1,
            2, and 3 years after release, allowing calculations of isopycnal
            and diapycnal mixing.
        </td>
      </tr>
      <tr class="active">
        <td>Isopycnal-following floats</td>
        <td>150</td>
        <td>Half deployed with the tracer and the other half at same depth 1 year later</td>
        <td>The floats will be acoustically tracked, with their trajectories
            showing patterns of isopycnal dispersion in the ACC. Fifteen will
            take CTD measurements, allowing them to actively track isopycnal
            surfaces, and these will also surface after 3-4 months.
        </td>
      </tr>
      <tr class="active">
        <td>EM-APEX floats</td>
        <td>15</td>
        <td>Some in SE Pacific, some in Drake Passage; rise and fall every 2 days taking profiles</td>
        <td>On surfacing, each float transmits its location, then profile data,
            to satellites. Profiles add to finestructure data: temperature,
            conductivity, depth, and velocity over a depth of 1500 meters.
        </td>
      </tr>
      <tr class="active">
        <td>Shearmeter floats</td>
        <td>8</td>
        <td>Drift with the tracer patch</td>
        <td>Vanes at both ends of each instrument spins it and creates torque,
            which it measures, giving data on the speed and direction of moving
            water masses. These floats will also be acoustically tracked.
        </td>
      </tr>
      <tr class="active">
        <td>Deep-ocean microstructure profile</td>
        <td>3 (1 UK-owned), deployed several times each summer</td>
        <td>Summer cruise locations, including near the mooring cluster</td>
        <td>Take profiles of temperature and velocity to a resolution of 1 cm,
            free-falling to a level scientists determine by weighing down its
            nose, then dropping the weights and rising again. This data will
            allow estimates of diapycnal diffusivity.
        </td>
      </tr>
      <tr class="active">
        <td>Mooring cluster</td>
        <td>An array of five groups of instruments</td>
        <td>Drake Passage</td>
        <td>ADCP, current meters, and profilers will help investigate the
            interactions of eddies and internal waves over complex bottom
            topography. Some instruments take profiles from the ocean floor to
            200m above it.
        </td>
      </tr>
    </table>
    <p>For more information, check out <a href="http://dimes.ucsd.edu/outreach/DIMES_article_CB_30_June">this article</a> article written by Catherine Brewster during her visit to the British Antarctic Survey.</p>
  </div>
</div>
{% endblock %}
