{% extends "base.html" %}
{% block content %}
<div class="row">
  <h1 style="text-align: left;">Components</h1>
  <div class="col-md-6">
    <h4>DIMES is composed of a number of different activities, summarized here:</h4>
    <ul>
      <li>Tracer release</li>
      <li>Microstructure and Finestructure Measurements</li>
      <li>Isopycnal following RAFOS floats</li>
      <li>Drake Passage mooring array</li>
      <li>Shearmeter measurements [Pdf overview/status]</li>
      <li>Analysis of POP and OCCAM model output</li>
      <li>Hydrography, inverse modeling, and Bernoulli inverse</li>
      <li>Analysis of satellite altimetry</li>
    </ul>
  </div>
  <div class="col-md-6">
    <h4>The original proposal PDFs summarize the US and UK programs:</h4>
    <ul> 
      <li><a href="documents/dimes_us.pdf"><b><img alt="Pdf" height="13" src="http://dimes.ucsd.edu/images/pdf.jpg?1283984069"> US Proposal</b></a></li> 
      <li><a href="documents/dimes_uk.pdf"><b><img alt="Pdf" height="13" src="http://dimes.ucsd.edu/images/pdf.jpg?1283984069"> UK Proposal</b></a></li> 
      <li><a href="documents/Ferrarietal.pdf"><b><img alt="Pdf" height="13" src="http://dimes.ucsd.edu/images/pdf.jpg?1283984069"> US Float Supplement Proposal (Ferrari, Marshall, Speer)</b></a></li> 
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h2 style="text-align: left;">Modeling</h2>
    <p>DIMES involves numerical models of all scales, both to help with planning experiment design and data analysis, and also with an aim to eventually improving models used for climate simulations. Here's a summary of current projects, some funded through DIMES and some independently supported. (Web sites and e-mail addresses are listed as points of contact.)</p>
    <table class="table table-condensed">
      <tr class="active">
        <td>OCCAM Analysis</td>
        <td>Emily Shuckburgh</td>
        <td>Effective diffusivities</td>
        <td><a href="http://www.atm.damtp.cam.ac.uk/shuckburgh/technical/index.html">http://www.atm.damtp.cam.ac.uk/shuckburgh/technical/index.html</a></td>
        <td><a href="mailto:emsh@bas.ac.uk">emsh@bas.ac.uk</a></td>
      </tr>
      <tr class="active">
        <td>OCCAM Analysis</td>
        <td>Dave Stevens</td>
        <td>Tracer release, effective diffusivities, spice</td>
        <td><a href="http://www.uea.ac.uk//~dps/">http://www.uea.ac.uk//~dps/</a></td>
        <td><a href="mailto:D.Stevens@uea.ac.uk">D.Stevens@uea.ac.uk</a></td>
      </tr>
      <tr class="active">
        <td>POP Analysis</td>
        <td>Alexa Griesel, Julie McClean, Mat Maltrud, Joe LaCasce, Sarah Gille, Janet Sprintall</td>
        <td>Eulerian and Lagrangian effective diffusivities</td>
        <td><a href="http://www-pord.ucsd.edu/~agriesel/">http://www-pord.ucsd.edu/~agriesel/</a></td>
        <td><a href="mailto:agriesel@ucsd.edu">agriesel@ucsd.edu</a></td>
      </tr>
      <tr class="active">
        <td>Process Studies</td>
        <td>George Nurser and David Smeed</td>
        <td>High-resolution process modelling work studying the generation of internal waves by jets and eddy flows over topography, with a view to developing new diapycnal mixing parameterizations.</td>
        <td><a href="http://www.noc.soton.ac.uk/JRD/PROC/people/agn/index.php">http://www.noc.soton.ac.uk/JRD/PROC/people/agn/index.php</a></td>
        <td><a href="mailto:G.Nurser@noc.soton.ac.uk">G.Nurser@noc.soton.ac.uk</a></td>
      </tr>
      <tr class="active">
        <td>Process Studies (NICKELS)</td>
        <td>Jen MacKinnon</td>
        <td>Internal lee waves</td>
        <td><a href="http://www-pord.ucsd.edu/">http://www-pord.ucsd.edu/</a></td>
        <td><a href="mailto:jmackinn@ucsd.edu">jmackinn@ucsd.edu</a></td>
      </tr>
      <tr class="active">
        <td>SOSE analysis</td>
        <td>Ryan Abernathey, John Taylor, Raf Ferrari, John Taylor</td>
        <td>Nakamura-style diffusivities, Lagrangian diffusivities</td>
        <td>N/A</td>
        <td><a href="mailto:raffaele@mit.edu">raffaele@mit.edu</a></td>
      </tr>
    </table>
  </div>
</div>
{% endblock %}
