{% extends "base.html" %}
{% block content %}
<div class="row">
	<h1 class="text-left">Cruises</h1>
	<h3 class="text-center">Fieldwork: Reports, Planning and Logistics</h3>
	<div class="col-md-12">
		<div class="panel-group" id="accordion">
			<div class="panel panel-default">
			    <div class="panel-heading">
			    	<h4 class="panel-title">
			        <a data-toggle="collapse" data-parent="#accordion" href="#US1" class="list-group-item active"><b>US1</b> - R/V Revelle - 2009</a>
			    	</h4>
			    </div>
				<div id="US1" class="panel-collapse collapse in">
					<div class="panel-body">
				     	<table class="table table-bordered table-condensed">
					        <thead>
						        <tr class="info">
						        	<th>Cruise</th>
						            <th>Ship</th>
									<th>Chief Scientists</th>
									<th>Cruise Dates</th>
						        </tr>
					        </thead>
					        <tbody>
								<tr>
									<td>US1</td>
									<td>R/V Revelle</td>
									<td>Chief Scientists</td>
									<td>8 Jan (1600) to 24 Feb (0800) 2009</td>
								</tr>
					        </tbody>
						</table>
			       		Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordion" href="#UK1" class="list-group-item active"><b>UK1</b> - James Cook - 2009</a>
					</h4>
				</div>
				<div id="UK1" class="panel-collapse collapse">
					<div class="panel-body">
				      	<table class="table table-bordered table-condensed">
					        <thead>
						        <tr class="info">
						        	<th>Cruise</th>
						            <th>Ship</th>
									<th>Chief Scientists</th>
									<th>Cruise Dates</th>
						        </tr>
					        </thead>
					        <tbody>
								<tr>
									<td>UK1</td>
									<td>James Cook</td>
									<td>Chief Scientists</td>
									<td>5 - 21 December 2009</td>
								</tr>
					        </tbody>
						</table>
				        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
					</div>
				</div>
			</div>
			<div class="panel panel-default">
			    <div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordion" href="#US2" class="list-group-item active"><b>US2</b> - R/V Thompson - 2010</a>
			    	</h4>
			    </div>
			 	<div id="US2" class="panel-collapse collapse">
			      	<div class="panel-body">
			        	<table class="table table-bordered table-condensed">
					        <thead>
						        <tr class="info">
						        	<th>Cruise</th>
						            <th>Ship</th>
									<th>Chief Scientists</th>
									<th>Cruise Dates</th>
						        </tr>
					        </thead>
					        <tbody>
								<tr>
									<td>US1</td>
									<td>R/V Revelle</td>
									<td>Chief Scientists</td>
									<td>8 Jan (1600) to 24 Feb (0800) 2009</td>
								</tr>
					        </tbody>
						</table>
			       		Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
				    </div>
			    </div>
			</div>
			<div class="panel panel-default">
			    <div class="panel-heading">
					<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordion" href="#UK2" class="list-group-item active"><b>UK2</b> - James Clark Ross - 2010-2011</a>
					</h4>
			    </div>
			    <div id="UK2" class="panel-collapse collapse">
					<div class="panel-body">
			        <table class="table table-bordered table-condensed">
				        <thead>
					        <tr class="info">
					        	<th>Cruise</th>
					            <th>Ship</th>
								<th>Chief Scientists</th>
								<th>Cruise Dates</th>
					        </tr>
				        </thead>
				        <tbody>
							<tr>
								<td>US1</td>
								<td>R/V Revelle</td>
								<td>Chief Scientists</td>
								<td>8 Jan (1600) to 24 Feb (0800) 2009</td>
							</tr>
				        </tbody>
					</table>
		       		Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
					</div>
				</div>
			</div>
			<div class="panel panel-default">
			    <div class="panel-heading">
					<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordion" href="#UK25" class="list-group-item active"><b>UK2.5</b> - James Clark Ross - 2011</a>
					</h4>
				</div>
				<div id="UK25" class="panel-collapse collapse">
					<div class="panel-body">
						<table class="table table-bordered table-condensed">
							<thead>
								<tr class="info">
						        	<th>Cruise</th>
						            <th>Ship</th>
									<th>Chief Scientists</th>
									<th>Cruise Dates</th>
						        </tr>
							</thead>
							<tbody>
								<tr>
									<td>US1</td>
									<td>R/V Revelle</td>
									<td>Chief Scientists</td>
									<td>8 Jan (1600) to 24 Feb (0800) 2009</td>
								</tr>
							</tbody>
						</table>
			       		Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordion" href="#US3" class="list-group-item active"><b>US3</b> - Cruise Information</a>
					</h4>
				</div>
				<div id="US3" class="panel-collapse collapse">
					<div class="panel-body">
						<table class="table table-bordered table-condensed">
							<thead>
								<tr class="info">
						        	<th>Cruise</th>
						            <th>Ship</th>
									<th>Chief Scientists</th>
									<th>Cruise Dates</th>
						        </tr>
					        </thead>
					        <tbody>
								<tr>
									<td>US1</td>
									<td>R/V Revelle</td>
									<td>Chief Scientists</td>
									<td>8 Jan (1600) to 24 Feb (0800) 2009</td>
								</tr>
					        </tbody>
						</table>
			       		Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordion" href="#UK3" class="list-group-item active"><b>UK3</b> - James Cook - 2011-2012</a>
					</h4>
				</div>
				<div id="UK3" class="panel-collapse collapse">
					<div class="panel-body">
						<table class="table table-bordered table-condensed">
					        <thead>
						        <tr class="info">
						        	<th>Cruise</th>
						            <th>Ship</th>
									<th>Chief Scientists</th>
									<th>Cruise Dates</th>
						        </tr>
					        </thead>
					        <tbody>
								<tr>
									<td>US1</td>
									<td>R/V Revelle</td>
									<td>Chief Scientists</td>
									<td>8 Jan (1600) to 24 Feb (0800) 2009</td>
								</tr>
					        </tbody>
						</table>
			       		Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordion" href="#UK4" class="list-group-item active"><b>UK4</b> - James Clark Ross - 2013</a>
					</h4>
				</div>
				<div id="UK4" class="panel-collapse collapse">
					<div class="panel-body">
						<table class="table table-bordered table-condensed">
							<thead>
								<tr class="info">
						        	<th>Cruise</th>
						            <th>Ship</th>
									<th>Chief Scientists</th>
									<th>Cruise Dates</th>
						        </tr>
					        </thead>
					        <tbody>
								<tr>
									<td>US1</td>
									<td>R/V Revelle</td>
									<td>Chief Scientists</td>
									<td>8 Jan (1600) to 24 Feb (0800) 2009</td>
								</tr>
					        </tbody>
						</table>
			       		Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordion" href="#US5" class="list-group-item active"><b>US5</b> - Cruise Information</a>
					</h4>
				</div>
				<div id="US5" class="panel-collapse collapse">
					<div class="panel-body">
						<table class="table table-bordered table-condensed">
							<thead>
								<tr class="info">
						        	<th>Cruise</th>
						            <th>Ship</th>
									<th>Chief Scientists</th>
									<th>Cruise Dates</th>
						        </tr>
					        </thead>
					        <tbody>
								<tr>
									<td>US1</td>
									<td>R/V Revelle</td>
									<td>Chief Scientists</td>
									<td>8 Jan (1600) to 24 Feb (0800) 2009</td>
								</tr>
					        </tbody>
						</table>
			       		Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordion" href="#UK5" class="list-group-item active"><b>UK5</b> - Cruise Information</a>
					</h4>
				</div>
				<div id="UK5" class="panel-collapse collapse">
					<div class="panel-body">
						<table class="table table-bordered table-condensed">
							<thead>
								<tr class="info">
						        	<th>Cruise</th>
						            <th>Ship</th>
									<th>Chief Scientists</th>
									<th>Cruise Dates</th>
						        </tr>
					        </thead>
					        <tbody>
								<tr>
									<td>US1</td>
									<td>R/V Revelle</td>
									<td>Chief Scientists</td>
									<td>8 Jan (1600) to 24 Feb (0800) 2009</td>
								</tr>
					        </tbody>
						</table>
			       		Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordion" href="#U2014" class="list-group-item active"><b>UK2014</b> - RRS James Cook</a>
					</h4>
				</div>
				<div id="UK2014" class="panel-collapse collapse">
					<div class="panel-body">
						<table class="table table-bordered table-condensed">
					        <thead>
						        <tr class="info">
						        	<th>Cruise</th>
						            <th>Ship</th>
									<th>Chief Scientists</th>
									<th>Cruise Dates</th>
						        </tr>
					        </thead>
					        <tbody>
								<tr>
									<td>US1</td>
									<td>R/V Revelle</td>
									<td>Chief Scientists</td>
									<td>8 Jan (1600) to 24 Feb (0800) 2009</td>
								</tr>
					        </tbody>
						</table>
			       		Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
					</div>
				</div>
			</div>
		</div>
	</div> <!--column-->
</div> <!--row-->
{% endblock %}