{% extends "base.html" %}
{% block content %}
<div class="row">
  <h1>Data by Cruise</h1>
  <p><strong><a href="{% url 'data_policy' %}">Data Policy</a></strong></p>
  <p><a href="http://mmm.whoi.edu/mmm_data/dimes/">DIMES microstructure data</a></a></p>
  <p class="lead"><a href="/dimesfs" class="btn btn-default">View and add uploads</a></p>
  <p>Click a cruise below to access its data.</p>
</div>
<div class="row">
  <div class="col-md-6">
    <table class="table data-cruise panel">
      {% for cruise in cruises0 %}
        <tr>
          <td class="cruise_id"><a href="{% url 'cruise_data' cruise.id %}"><b>{{cruise.id}}</b></a></td>
          <td>{{cruise.ship}}</td>
          <td>{{cruise.dates}}</td>
          <td>
            {% if cruise.link %}
              <a href="{{cruise.link}}">BODC data inventory</a>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </table>
  </div>
  <div class="col-md-6">
    <table class="table data-cruise panel">
      {% for cruise in cruises1 %}
        <tr>
          <td class="cruise_id"><a href="{% url 'cruise_data' cruise.id %}"><b>{{cruise.id}}</b></a></td>
          <td>{{cruise.ship}}</td>
          <td>{{cruise.dates}}</td>
          <td>
            {% if cruise.link %}
              <a href="{{cruise.link}}">BODC data inventory</a>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </table>
  </div>
</div>
{% endblock %}
