{% extends "base.html" %}
{% block content %}
	<h1 class="text-left">Fieldwork</h1>
		<div class="panel-group" id="accordion">

			<div class="panel panel-default">
			    <div class="panel-heading">
			    	<h4 class="panel-title">
			        <a data-toggle="collapse" href="#US1">{% block title %}<b>US1</b> - R/V Revelle - 2009{% endblock %}</a>
			    	</h4>
			    </div>
				<div id="US1" class="panel-collapse collapse in">
					<div class="panel-body">
						<h4 class="text-center"><b>Planning and Logistics</b></h4>
						<p>{% block summa %} Punta Arenas, Chile to Punta Arenas, Chile. DIMES Pacific sound source deployment, float release, tracer release.{% endblock %}</p>
				     	<table class="table table-bordered table-condensed">
					        <thead>
						        <tr class="info">
						        	<th>Cruise</th>
						            <th>Ship</th>
									<th>Chief Scientists</th>
									<th>Cruise Dates</th>
						        </tr>
					        </thead>
					        <tbody>
								<tr>
									<td>US1</td>
									<td>R/V Revelle</td>
									<td>Chief Scientists</td>
									<td>8 Jan (1600) to 24 Feb (0800) 2009</td>
								</tr>
					        </tbody>
						</table>
						<hr>
						<div class="row">
						<div class="col-md-4">
						<h4 class="text-center"><b>Data</b></h4>
			       			<ul>
							  <li>Cras justo odio</li>
							  <li>Dapibus ac facilisis in</li>
							  <li>Morbi leo risus</li>
							  <li>Porta ac consectetur ac</li>
							  <li>Vestibulum at eros</li>
							</ul>
						</div>
						<div class="col-md-4">
			       		<h4 class="text-center"><b>Reports</b></h4>
			       			<ul>
							  <li>Cras justo odio</li>
							  <li>Dapibus ac facilisis in</li>
							  <li>Morbi leo risus</li>
							  <li>Porta ac consectetur ac</li>
							  <li>Vestibulum at eros</li>
							</ul>
						</div>
						<div class="col-md-4">
			       		<a href="/outreach#US1"><h4 class="text-center"><b>Outreach</b></h4></a>
						</div>
						</div>
					</div>
				</div>
			</div>


			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" href="#UK1"><b>UK1</b> - James Cook - 2009</a>
					</h4>
				</div>
				<div id="UK1" class="panel-collapse collapse">
					<div class="panel-body">
						<h4 class="text-center">Reports, Planning and Logistics</h4>
				      	<table class="table table-bordered table-condensed">
					        <thead>
						        <tr class="info">
						        	<th>Cruise</th>
						            <th>Ship</th>
									<th>Chief Scientists</th>
									<th>Cruise Dates</th>
						        </tr>
					        </thead>
					        <tbody>
								<tr>
									<td>UK1</td>
									<td>James Cook</td>
									<td>Chief Scientists</td>
									<td>5 - 21 December 2009</td>
								</tr>
					        </tbody>
						</table>
						<h4 class="text-center">Results</h4>
				        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
					</div>
				</div>
			</div>
			<div class="panel panel-default">
			    <div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" href="#US2"><b>US2</b> - R/V Thompson - 2010</a>
			    	</h4>
			    </div>
			 	<div id="US2" class="panel-collapse collapse">
			      	<div class="panel-body">
			        	<table class="table table-bordered table-condensed">
					        <thead>
						        <tr class="info">
						        	<th>Cruise</th>
						            <th>Ship</th>
									<th>Chief Scientists</th>
									<th>Cruise Dates</th>
						        </tr>
					        </thead>
					        <tbody>
								<tr>
									<td>US1</td>
									<td>R/V Revelle</td>
									<td>Chief Scientists</td>
									<td>8 Jan (1600) to 24 Feb (0800) 2009</td>
								</tr>
					        </tbody>
						</table>
			       		Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
				    </div>
			    </div>
			</div>
			<div class="panel panel-default">
			    <div class="panel-heading">
					<h4 class="panel-title">
					<a data-toggle="collapse" href="#UK2"><b>UK2</b> - James Clark Ross - 2010-2011</a>
					</h4>
			    </div>
			    <div id="UK2" class="panel-collapse collapse">
					<div class="panel-body">
			        <table class="table table-bordered table-condensed">
				        <thead>
					        <tr class="info">
					        	<th>Cruise</th>
					            <th>Ship</th>
								<th>Chief Scientists</th>
								<th>Cruise Dates</th>
					        </tr>
				        </thead>
				        <tbody>
							<tr>
								<td>US1</td>
								<td>R/V Revelle</td>
								<td>Chief Scientists</td>
								<td>8 Jan (1600) to 24 Feb (0800) 2009</td>
							</tr>
				        </tbody>
					</table>
		       		Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
					</div>
				</div>
			</div>
			<div class="panel panel-default">
			    <div class="panel-heading">
					<h4 class="panel-title">
					<a data-toggle="collapse" href="#UK25"><b>UK2.5</b> - James Clark Ross - 2011</a>
					</h4>
				</div>
				<div id="UK25" class="panel-collapse collapse">
					<div class="panel-body">
						<table class="table table-bordered table-condensed">
							<thead>
								<tr class="info">
						        	<th>Cruise</th>
						            <th>Ship</th>
									<th>Chief Scientists</th>
									<th>Cruise Dates</th>
						        </tr>
							</thead>
							<tbody>
								<tr>
									<td>US1</td>
									<td>R/V Revelle</td>
									<td>Chief Scientists</td>
									<td>8 Jan (1600) to 24 Feb (0800) 2009</td>
								</tr>
							</tbody>
						</table>
			       		Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
					<a data-toggle="collapse" href="#US3"><b>US3</b></a>
					</h4>
				</div>
				<div id="US3" class="panel-collapse collapse">
					<div class="panel-body">
						<table class="table table-bordered table-condensed">
							<thead>
								<tr class="info">
						        	<th>Cruise</th>
						            <th>Ship</th>
									<th>Chief Scientists</th>
									<th>Cruise Dates</th>
						        </tr>
					        </thead>
					        <tbody>
								<tr>
									<td>US1</td>
									<td>R/V Revelle</td>
									<td>Chief Scientists</td>
									<td>8 Jan (1600) to 24 Feb (0800) 2009</td>
								</tr>
					        </tbody>
						</table>
			       		Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
					<a data-toggle="collapse" href="#UK3"><b>UK3</b> - James Cook - 2011-2012</a>
					</h4>
				</div>
				<div id="UK3" class="panel-collapse collapse">
					<div class="panel-body">
						<table class="table table-bordered table-condensed">
					        <thead>
						        <tr class="info">
						        	<th>Cruise</th>
						            <th>Ship</th>
									<th>Chief Scientists</th>
									<th>Cruise Dates</th>
						        </tr>
					        </thead>
					        <tbody>
								<tr>
									<td>US1</td>
									<td>R/V Revelle</td>
									<td>Chief Scientists</td>
									<td>8 Jan (1600) to 24 Feb (0800) 2009</td>
								</tr>
					        </tbody>
						</table>
			       		Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
					<a data-toggle="collapse" href="#UK4"><b>UK4</b> - James Clark Ross - 2013</a>
					</h4>
				</div>
				<div id="UK4" class="panel-collapse collapse">
					<div class="panel-body">
						<table class="table table-bordered table-condensed">
							<thead>
								<tr class="info">
						        	<th>Cruise</th>
						            <th>Ship</th>
									<th>Chief Scientists</th>
									<th>Cruise Dates</th>
						        </tr>
					        </thead>
					        <tbody>
								<tr>
									<td>US1</td>
									<td>R/V Revelle</td>
									<td>Chief Scientists</td>
									<td>8 Jan (1600) to 24 Feb (0800) 2009</td>
								</tr>
					        </tbody>
						</table>
			       		Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
					<a data-toggle="collapse" href="#US5"><b>US5</b></a>
					</h4>
				</div>
				<div id="US5" class="panel-collapse collapse">
					<div class="panel-body">
						<table class="table table-bordered table-condensed">
							<thead>
								<tr class="info">
						        	<th>Cruise</th>
						            <th>Ship</th>
									<th>Chief Scientists</th>
									<th>Cruise Dates</th>
						        </tr>
					        </thead>
					        <tbody>
								<tr>
									<td>US1</td>
									<td>R/V Revelle</td>
									<td>Chief Scientists</td>
									<td>8 Jan (1600) to 24 Feb (0800) 2009</td>
								</tr>
					        </tbody>
						</table>
			       		Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
					<a data-toggle="collapse" href="#UK5"><b>UK5</b></a>
					</h4>
				</div>
				<div id="UK5" class="panel-collapse collapse">
					<div class="panel-body">
						<table class="table table-bordered table-condensed">
							<thead>
								<tr class="info">
						        	<th>Cruise</th>
						            <th>Ship</th>
									<th>Chief Scientists</th>
									<th>Cruise Dates</th>
						        </tr>
					        </thead>
					        <tbody>
								<tr>
									<td>US1</td>
									<td>R/V Revelle</td>
									<td>Chief Scientists</td>
									<td>8 Jan (1600) to 24 Feb (0800) 2009</td>
								</tr>
					        </tbody>
						</table>
			       		Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
					<a data-toggle="collapse" href="#UK2014"><b>UK2014</b> - RRS James Cook</a>
					</h4>
				</div>
				<div id="UK2014" class="panel-collapse collapse">
					<div class="panel-body">
						<table class="table table-bordered table-condensed">
					        <thead>
						        <tr class="info">
						        	<th>Cruise</th>
						            <th>Ship</th>
									<th>Chief Scientists</th>
									<th>Cruise Dates</th>
						        </tr>
					        </thead>
					        <tbody>
								<tr>
									<td>US1</td>
									<td>R/V Revelle</td>
									<td>Chief Scientists</td>
									<td>8 Jan (1600) to 24 Feb (0800) 2009</td>
								</tr>
					        </tbody>
						</table>
			       		Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
					</div>
				</div>
			</div>
		</div>
{% endblock %}