{% extends "base.html" %}
{% block content %}

<div class="row">
<h1 style="text-align: left;">Blogs and Media</h1>
<div class="col-md-6">
<h2 style="text-align: center;"><small>Media</small></h2>
<ul class="list-group">
<li class="list-group-item">
<a href="https://simonsfoundation.org/features/science-news/scientists-parse-oceans-role-in-climate-change/">
Scientists Parse Ocean’s Dynamic Role in Climate Change
</a> by Natalie Wolchover, April 11, 2013
</li>
<li class="list-group-item">
<a href="http://blog.decc.gov.uk/?p=596">
The Pursuit of Scientifc Progress
</a> by Emily Shuckburgh, May 6, 2011 UK Department of Energy and Climate Change Blog
</li>
<li class="list-group-item">
<a href="http://www.dimes.ucsd.edu/outreach/DIMES_article_CB_30_June">
Measuring Ocean Mixing
</a> by Catherine Brewster
</li>
</ul>
</div>
<div class="col-md-6">
<h2 style="text-align: center;"><small>Blogs</small></h2>
<ul class="list-group">
<li class="list-group-item">
<a href="https://simonsfoundation.org/features/science-news/scientists-parse-oceans-role-in-climate-change/">
Scientists Parse Ocean’s Dynamic Role in Climate Change
</a> by Natalie Wolchover, April 11, 2013
</li>
<li class="list-group-item">
<a href="http://blog.decc.gov.uk/?p=596">
The Pursuit of Scientifc Progress
</a> by Emily Shuckburgh, May 6, 2011 UK Department of Energy and Climate Change Blog
</li>
<li class="list-group-item">
<a href="http://www.dimes.ucsd.edu/outreach/DIMES_article_CB_30_June">
Measuring Ocean Mixing
</a> by Catherine Brewster
</li>
</ul>
</div>
</div>
{% endblock %}
