{% extends "base.html" %}
{% block content %}

<div class="row">
<h1 style="text-align: left;">Cruise Outreach</h1>
<div class="col-md-6">
<h2 style="text-align: center;"><small>Press</small></h2>
<ul class="list-group">
<li class="list-group-item">
<a href="https://simonsfoundation.org/features/science-news/scientists-parse-oceans-role-in-climate-change/">
Scientists Parse Ocean’s Dynamic Role in Climate Change
</a> by Natalie Wolchover, April 11, 2013
</li>
<li class="list-group-item">
<a href="http://blog.decc.gov.uk/?p=596">
The Pursuit of Scientifc Progress
</a> by Emily Shuckburgh, May 6, 2011 UK Department of Energy and Climate Change Blog
</li>
<li class="list-group-item">
<a href="http://www.dimes.ucsd.edu/outreach/DIMES_article_CB_30_June">
Measuring Ocean Mixing
</a> by Catherine Brewster
</li>
</ul>
</div>
<div class="col-md-6">
<h2 style="text-align: center;"><small>Blogs</small></h2>
<ul class="list-group">
<li class="list-group-item">
<a href="https://simonsfoundation.org/features/science-news/scientists-parse-oceans-role-in-climate-change/">
Scientists Parse Ocean’s Dynamic Role in Climate Change
</a> by Natalie Wolchover, April 11, 2013
</li>
<li class="list-group-item">
<a href="http://blog.decc.gov.uk/?p=596">
The Pursuit of Scientifc Progress
</a> by Emily Shuckburgh, May 6, 2011 UK Department of Energy and Climate Change Blog
</li>
<li class="list-group-item">
<a href="http://www.dimes.ucsd.edu/outreach/DIMES_article_CB_30_June">
Measuring Ocean Mixing
</a> by Catherine Brewster
</li>
</ul>
</div>
</div>
<div class="row">
<div class="col-md-12">
<h2 style="text-align: center;"><small>Outreach</small></h2>
	<div class="panel panel-default">
	<a name="US1"></a>
	  <div class="panel-heading">
	    <h3 class="panel-title">US1</h3>
	  </div>
	  <div class="panel-body">
	    No outreach material available. 
	  </div>
	</div>
	<div class="panel panel-default">
	<a name="UK1"></a>
	  <div class="panel-heading">
	    <h3 class="panel-title">UK1</h3>
	  </div>
	  <div class="panel-body">
	    No outreach material available. 
	  </div>
	</div>
	<div class="panel panel-default">
	<a name="US2"></a>
	  <div class="panel-heading">
	    <h3 class="panel-title">US2</h3>
	  </div>
	  <div class="panel-body">
	    Sadly, Captain Philip Smith passed away on Tuesday, January 18. The ship returned to Punta Arenas, arriving Friday January 22nd, and started out again January 25th. <a href="http://www.legacy.com/obituaries/seattletimes/obituary.aspx?n=philip-a-smith&pid=139011368">See the Seattle Times obituary</a> (updated 28 January 2010).
	  </div>
	</div>
	<div class="panel panel-default">
	<a name="UK2"></a>
	  <div class="panel-heading">
	    <h3 class="panel-title">UK2/UK2.5</h3>
	  </div>
	  <div class="panel-body">
	  	<p>Blog by Emily Shuckburgh.</p><a href="http://dimes-uk.blogspot.com/">http://dimes-uk.blogspot.com/</a>
	  </div>
	</div>
	<div class="panel panel-default">
	<a name="US3"></a>
	  <div class="panel-heading">
	    <h3 class="panel-title">US3</h3>
	  </div>
	  <div class="panel-body">
	  	<div class="text-center">
	  	<p>Members of US 3 cruise.</p>
	    <img src="http://dimes.ucsd.edu/cruises/us3/IMG_1682-1%20(dragged).png" style="width: 500px;">
		</div>
	  </div>
	</div>
	<div class="panel panel-default">
	<a name="UK3"></a>
	  <div class="panel-heading">
	    <h3 class="panel-title">UK3</h3>
	  </div>
	  <div class="panel-body">
	    <p>Blog of UK3 cruise by Katy Sheen and Alex Brearley.</p><a href="http://dimesuk3.blogspot.com/">http://dimesuk3.blogspot.com/</a>
	  </div>
	</div>
	<div class="panel panel-default">
	<a name="UK4"></a>
	  <div class="panel-heading">
	    <h3 class="panel-title">UK4</h3>
	  </div>
	  <div class="panel-body">
	    <p>Blog by Jan Zika.</p><a href="http://dimesuk4.blogspot.co.uk/">http://dimesuk4.blogspot.co.uk/</a>
	  </div>
	</div>
	<div class="panel panel-default">
	<a name="US5"></a>
	  <div class="panel-heading">
	    <h3 class="panel-title">US5</h3>
	  </div>
	  <div class="panel-body">
	    No outreach material available. 
	  </div>
	</div>
	<div class="panel panel-default">
	<a name="UK5"></a>
	  <div class="panel-heading">
	    <h3 class="panel-title">UK5</h3>
	  </div>
	  <div class="panel-body">
	    No outreach material available. 
	  </div>
	</div>
	<div class="panel panel-default">
	<a name="UK2014"></a>
	  <div class="panel-heading">
	    <h3 class="panel-title">UK2014</h3>
	  </div>
	  <div class="panel-body">
	  	<p>Blog by Katy Sheen and Siobhan Moran</p><a href="http://www.adropinthesouthernocean.blogspot.co.uk/">http://www.adropinthesouthernocean.blogspot.co.uk/</a>
	  	<hr>
	  	<div class="text-center">
	    <p>DIMES film short promo for 'A Drop in the Southern Ocean'.</p>
	    <iframe width="500" height="281" src="//www.youtube.com/embed/ViYA2mBIpEw" frameborder="0" allowfullscreen></iframe>
	    <p><a href="http://vimeo.com/97260669">A Drop in the Southern Ocean</a> from <a href="http://vimeo.com/feredayfilms">Fereday Films</a> on <a href="https://vimeo.com">Vimeo</a>.</p><iframe src="//player.vimeo.com/video/97260669" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> 
		</div>
	  </div>
	</div>
</div>
</div>
{% endblock %}
