{% extends "base.html" %}
{% block content %}
<div class="row">
  <div class="col-md-12">
    <h1 class="text-left">Contact Us</h1>
    <h3 class="text-center">Principal Investigators</h3>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h4><a href="http://whoi.edu">Woods Hole Oceanographic Institution</a></h4>
    <table class="table table-bordered table-condensed">
      <tr class="active">
        <td>James Ledwell</td>
        <td><a href="mailto:jledwell@whoi.edu">jledwell@whoi.edu</a></td>
      </tr>
      <tr class="active">
        <td>Timothy Duda</td>
        <td><a href="mailto:tduda@whoi.edu">tduda@whoi.edu</a></td>
      </tr>
      <tr class="active">
        <td>John Toole</td>
        <td><a href="mailto:jtoole@whoi.edu">jtoole@whoi.edu</a></td>
      </tr>
      <tr class="active">
        <td>Breck Owens</td>
        <td><a href="mailto:bowens@whoi.edu">bowens@whoi.edu</a></td>
      </tr>
      <tr class="active">
        <td>Joe LaCasce</td>
        <td><a href="mailto:j.h.lacasce@geo.uio.no">j.h.lacasce@geo.uio.no</a></td>
      </tr>
    </table>

    <br>

    <h4><a href="http://sio.ucsd.edu/">Scripps Institution of Oceanography</a></h4>
    <table class="table table-condensed">
      <tr class="active">
        <td>Sarah Gille</td>
        <td><a href="mailto:sgille@ucsd.edu">sgille@ucsd.edu</a></td>
      </tr>
    </table>

    <br>

    <h4><a href="http://fsu.edu">Florida State University</a></h4>
    <table class="table table-condensed">
      <tr class="active">
        <td>Kevin Speer</td>
        <td><a href="mailto:speer@ocean.fsu.edu">speer@ocean.fsu.edu</a></td>
      </tr>
      <tr class="active">
        <td>Peter Lazarevich</td>
        <td><a href="mailto:lazarevich@ocean.fsu.edu">lazarevich@ocean.fsu.edu</a></td>
      </tr>
      <tr class="active">
        <td>Louis St. Laurent</td>
        <td><a href="mailto:stlaurent@ocean.fsu.edu">stlaurent@ocean.fsu.edu</a></td>
      </tr>
    </table>

    <br>

    <h4><a href="http://www.apl.washington.edu/">Applied Physics Labratory, University of Washington</a></h4>
    <table class="table table-condensed">
      <tr class="active">
        <td>James Girton</td>
        <td><a href="mailto:girton@apl.washington.edu">girton@apl.washington.edu</a></td>
      </tr>
      <tr class="active">
        <td>Luc Rainville</td>
        <td><a href="mailto:rainville@apl.washington.edu">rainville@apl.washington.edu</a></td>
      </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h4><a href="http://www.noc.soton.ac.uk/">National Oceanography Center, Southampton</a></b></h4>
  <table class="table table-condensed">
    <tr class="active">
      <td>Alberto Naveira Garabato</td>
      <td><a href="mailto:acng@noc.soton.ac.uk">acng@noc.soton.ac.uk</a></td>
    </tr>
    <tr class="active">
      <td>Harry Bryden</td>
      <td><a href="mailto:h.bryden@noc.soton.ac.uk">h.bryden@noc.soton.ac.uk</a></td>
    </tr>
    <tr class="active">
      <td>Brian King</td>
      <td><a href="mailto:b.king@noc.soton.ac.uk">b.king@noc.soton.ac.uk</a></td>
    </tr>
    <tr class="active">
      <td>David Smeed</td>
      <td><a href="mailto:das@noc.soton.ac.uk">das@noc.soton.ac.uk</a></td>
    </tr>
  </table>

  <br>

  <h4><a href="http://www1.uea.ac.uk/cm/Home">University of East Anglia</a></h4>
  <table class="table table-condensed">
    <tr class="active">
      <td>Andrew Watson</td>
      <td><a href="mailto:a.watson@uea.ac.uk">a.watson@uea.ac.uk</a></td>
    </tr>
    <tr class="active">
      <td>Karen Heywood</td>
      <td><a href="mailto:k.heywood@uea.ac.uk">k.heywood@uea.ac.uk</a></td>
    </tr>
    <tr class="active">
      <td>David Stevens</td>
      <td><a href="mailto:D.Stevens@uea.ac.uk">d.stevens@uea.ac.uk</a></td>
    </tr>
  </table>

  <br>
  <h4><a href="http://www.antarctica.ac.uk/">British Antarctic Survey</a></h4>
  <table class="table table-condensed">
    <tr class="active">
      <td>Michael Meredith</td>
      <td><a href="mailto:mmm@bas.ac.uk">mmm@bas.ac.uk</a></td>
    </tr>
    <tr class="active">
      <td>Emily Shuckburgh</td>
      <td><a href="mailto:emsh@bas.ac.uk">emsh@bas.ac.uk</a></td>
    </tr>
  </table>

  <br>

  <h4><a href="http://www.sams.ac.uk/">Scottish Association for Marine Science</a></h4>
  <table class="table table-condensed">
    <tr class="active">
      <td>Mark Inall</td>
      <td><a href="mailto:sams.ac.uk">sams.ac.uk</a></td>
    </tr>
  </table>
  <br>

  <h4><a href="http://eapsweb.mit.edu/">Massachusetts Institute of Technology</a></h4>
  <table class="table table-condensed">
    <tr class="active">
      <td>Raffaele Ferrari</td>
      <td><a href="mailto:rferrari@mit.edu">rferrari@mit.edu</td>
      </tr>
    <tr class="active">
      <td>John Marshall</td>
      <td><a href="mailto:jmarsh@mit.edu">jmarsh@mit.edu</a></td>
    </tr>
    </table>
  </div>
</div>
<hr>
<h3 class="text-center">Students, Post-Docs and Other Participants</h3>
<br>
<div class="row">
  <div class="col-md-4">
    <address>
      <strong>Ryan Abernathey</strong><br>
      Grad student - MIT<br>
      Eddy diffusivity in the SOSE model<br>
      <a href="mailto:rpa@mit.edu">rpa@mit.edu</a>
    </address>
    <address>
      <strong>Alexa Griesel</strong><br>
      Post-doc - SIO <br>
      POP model analysis<br>
      <a href="mailto:agriesel@ucsd.edu">agriesel@ucsd.edu</a>
    </address>
    <address>
      <strong>John Taylor</strong><br>
      Post-doc - MIT<br>
      Lagrangian trajectories in MITgcm<br>
      <a href="mailto:jrtaylor@mit.edu">jrtaylor@mit.edu</a>
    </address>
    <address>
      <strong>Cim Wortham</strong><br>
      Grad student - MIT/WHOI Joint Program<br>
      Satellite altimetry, Doppler sonar, Dopperl volume sampler<br>
      <a href="mailto:worthamc@mit.edu">worthamc@mit.edu</a>
    </address>	
  </div>

  <div class="col-md-4">
    <address>
      <strong>Magdalena Carranza</strong><br>
      Undergrad student - University of Buenos Aires<br>
      Upper ocean dynamics<br>
    </address>
    <address>
      <strong>Byron Kilbourne</strong><br>
      Grad student - UW<br>
      Small-scale vertical eddies and mixing<br>
      <a href="mailto:bkilbour@apl.washington.edu">bkilbour@apl.washington.edu</a>
    </address>
    <address>
      <strong>Martin Wadley</strong><br>
      Senior Research Associate - UEA<br>
      <a href="mailto:m.wadley@uea.ac.uk">m.wadley@uea.ac.uk</a>
    </address>
    <address>
      <strong>Uriel Zajaczkovski</strong><br>
      Undergrad student - University of Buenos Aires<br>
      Horizontal diffusivity<br>
    </address>	
  </div>

  <div class="col-md-4">
    <address>
      <strong>Jun Dong</strong><br>
      Grad student - FSU<br>
      Frontal dynamics; Microstructure<br>
      <a href="mailto:dong@ocean.fsu.edu">dong@ocean.fsu.edu</a>
    </address>
    <address>
      <strong>Marie-José Messias</strong><br>
      Senior Research Associate - UEA<br>
      <a href="mailto:M-j.Messias@uea.ac.uk">M-j.Messias@uea.ac.uk</a>
    </address>
    <address>
      <strong>Nicolas Wienders</strong><br>
      Research Specialist - FSU<br>
      Floats, historic data analysis<br>
      <a href="mailto:wienders@ocean.fsu.edu">wienders@ocean.fsu.edu</a>
    </address>
  </div>
</div>
<hr>
<h3 class="text-center">Friends of DIMES</h3>
<br>
<div class="row">
  <div class="col-md-4">
    <address>
      <strong>Eric Chassignet</strong><br>
      FSU<br>
      High-resolution modeling (HYCOM)<br>
      <a href="mailto:chassignet@ocean.fsu.edu">chassignet@ocean.fsu.edu</a>
    </address>
    <address>
      <strong>Christos Mitsis</strong><br>
      UEA<br>
      OCCAM in DIMES region<br>
      <a href="mailto:c.mitsis@uea.ac.uk">c.mitsis@uea.ac.uk</a>
    </address>
    <address>
      <strong>Janet Sprintall</strong><br>
      SIO<br>
      Drake Passage XBT/XCTDs<br>
      <a href="mailto:jsprintall@ucsd.edu">jsprintall@ucsd.edu</a>
    </address>

  </div>

  <div class="col-md-4">
    <address>
      <strong>George Nurser</strong><br>
      NOC<br>
      Process models<br>
      <a href="mailto:G.Nurser@noc.soton.ac.uk">G.Nurser@noc.soton.ac.uk</a>
    </address>
    <address>
      <strong>Andy Thompson</strong><br>
      DAMTP, U. Cambridge<br>
      Process studies<br>
      <a href="mailto:Andrew.F.Thompson@uea.ac.uk">Andrew.F.Thompson@uea.ac.uk</a>
    </address>
    <address>
      <strong>Mat Maltrud</strong><br>
      LANL<br>
      POP model simulations/analysis<br>
      <a href="mailto:maltrud@lanl.gov">maltrud@lanl.gov</a>
    </address>

  </div>

  <div class="col-md-4">
    <address>
      <strong>Jen MacKinnon</strong><br>
      SIO<br>
      Process studies (NICKELS)<br>
      <a href="mailto:jmackinn@ucsd.edu">jmackinn@ucsd.edu</a>
    </address>
    <address>
      <strong>Julie McClean</strong><br>
      SIO<br>
      POP model simulations/analysis<br>
      <a href="mailto:jmcclean@ucsd.edu">jmcclean@ucsd.edu</a>
    </address>	
    <address>
      <strong>Stephanie Waterman</strong><br>
      NOCS<br>
      SOFINE microstructure<br>
      <a href="mailto:snw@mit.edu">snw@mit.edu</a>
    </address>
  </div>
</div>
<hr>
<h3 class="text-center">Technical Support</h3>
<br>
<div class="row">
  <div class="col-md-4">
    <address>
      <strong>Jim Carlson</strong><br>
      APL-UW<br>
      Preparation, testing, troubleshooting EM-APEX floats<br>
    </address>
    <address>
      <strong>Brian Guest</strong><br>
      WHOI<br>
      RAFOS floats, sound sources, tracer injection, shearmeters<br>
    </address>
    <address>
      <strong>Phil Moses</strong><br>
      SIO<br>
      Computer/web support<br>
    </address>
    <address>
      <strong>Stew Sutherland</strong><br>
      Lamont-Doherty<br>
      Tracer injection and sampling system<br>
    </address>
  </div>
  <div class="col-md-4">
    <address>
      <strong>Steve Diggs</strong><br>
      SIO<br>
      Data management and release<br>
    </address>
    <address>
      <strong>Leah Houghton</strong><br>
      WHOI<br>
      GC analysis of water samples<br>
    </address>
    <address>
      <strong>Cindy Sellers</strong><br>
      WHOI<br>
      Data archiving and analysis<br>
    </address>
    <address>
      <strong>Jim Valdes</strong><br>
      WHOI<br>
      RAFOS float preparation<br>
    </address>
  </div>
  <div class="col-md-4">
    <address>
      <strong>John Dunlap</strong><br>
      APL-UW<br>
      EM-APEX software, data telemetry<br>
    </address>
    <address>
      <strong>Eric Howarth</strong><br>
      FSU<br>
      Engineer<br>
    </address>
    <address>
      <strong>Avery Snyder</strong><br>
      APL-UW<br>
      Preparation, testing, troubleshooting EM-APEX floats<br>
    </address>

  </div>
</div>
{% endblock %}
