{% extends "base.html" %}
{% block content %}
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-left">Publications from DIMES</h1>
      <br>
      <h3 class="text-center">Published</h3>
        <ul> 
          <li>
          <a href="http://dimes.ucsd.edu/http://dimes.ucsd.edu/documents/2007EO390002.pdf">
            <img height="13" src="/static/pdf.jpg">
            Gille, S. T., K. Speer, J. R. Ledwell, and A. C. Naveira Garabato
          </a> (2007),
          Mixing and Stirring in the Southern Ocean, 
          EOS, 88(39), 25 September 2007, pp.
          382-383.
          <p>Here's the longer version that we originally submitted:
          <a href="http://dimes.ucsd.edu/documents/eos_submission.pdf"> <img height="13" src="/static/pdf.jpg"> preprint </a>
          </p>
          </li> 
          <li>
          <a href="http://www.atm.damtp.cam.ac.uk/people/aft26/publications/Thompson_PTRSA08_NoBio.pdf">
            <img height="13" src="/static/pdf.jpg"> Thompson, A. F.
          </a> (2008),
          The atmospheric ocean: eddies and jets in the Antarctic Circumpolar
          Current, 
          Phil. Trans. Royal Soc. A
          366, 4529-4541.
          </li> 
          <li> 
          <a href="http://doi.org/10.1016/j.ocemod.2009.05.004">
            Griesel, A., S. T. Gille, J. Sprintall, J. L. McClean, M. E. Maltrud
          </a> (2009),
          Assessing eddy heat flux and its parameterization: A wavenumber perspective
          from a 1/10<sup>o</sup> ocean simulation. 
          Ocean Modelling,
          29, 248-260.
          </li> 
          <li>
          <a href="http://dimes.ucsd.edu/documents/prog_acc2010.pdf">
            <img height="13" src="/static/pdf.jpg">
            LaCasce, J. H. and P. E. Isachsen</a> (2010),
          The linear models of the ACC, 
          Prog. Oceanogr.,
          84, 139-157.
          </li>
          <li>
          <a href="http://www.agu.org/pubs/crossref/2010/2009JC005821.shtml">
            Griesel, A., S. T. Gille, J. Sprintall, J. L. McClean, J. H. LaCasce, and
            M. E.  Maltrud</a> (2009),
          Isopycnal diffusivities in the Antarctic Circumpolar Current inferred from
          Lagrangian floats in an eddying model, 
          J. Geophys.  Res.,
          115, C06006, doi:10.1029/2009JC005821.
          </li>
          <li>

          <a href="http://www.ingentaconnect.com/content/jmr/jmr/2010/00000068/f0020003/art00008">
            Jianhua Lu and Kevin Speer</a> (2010),
          Topography, jets, and eddy mixing in the Southern Ocean, 
          Journal of Marine Research, 
          68, 479-502.
          </li>
          <li>
          <a href="http://dimes.ucsd.edu/documents/2010GL045386.pdf">
            <img height="13" src="/static/pdf.jpg">
            A. F. Thompson, P. H. Haynes, C. Wilson, and K. J. Richards</a> (2010),
          Rapid Southern Ocean front transitions in an eddy-resolving ocean GCM, 
          Geophys. Res. Lett., 
          37, L23602, doi:10.1029/2010GL045386.
          <a href="http://www.agu.org/journals/gl/gl1023/2010GL045386/">http://www.agu.org/journals/gl/gl1023/2010GL045386/</a>
          </li>
          <li>

          <a href="http://doi.org/10.1175/2011JCLI4204.1">
            Meredith, Michael P., Alberto C. Naveira Garabato, Andrew McC. Hogg, Riccardo Farneti</a> (2012),
          Sensitivity of the Overturning Circulation in the Southern Ocean to Decadal
          Changes in Wind Forcing,
          J. Climate, 
          25, 99–110. doi:10.1175/2011JCLI4204.1
          </li>
          <li>
          <a href="http://doi.org/10.1029/2010JC006818">
            Naveira Garabato, A. C., R. Ferrari, and K. L. Polzin</a> (2011),
          Eddy stirring in the Southern Ocean, 
          J. Geophys. Res., 
          116, C09019, doi:10.1029/2010JC006818.
          </li>
          <li>
          Ferrari, R. and M. Nikurashin (2010),
          Suppression of eddy mixing across jets in the Southern Ocean, 
          J. Phys. Oceanogr., 
          40, 1501-1519.
          </li>
          <li>
          <a href="http://journals.ametsoc.org/doi/abs/10.1175/2010JPO4557.1">
            Ledwell, J. R., L. C. St. Laurent, J. B. Girton, and J. M. Toole</a> (2011),

          Diapycnal Mixing in the Antarctic Circumpolar Current, 
          J. Phys. Oceanogr., 
          41, 241-246. doi:10.1175/2010JPO4557.1
          </li>
          <li>
          <a href="http://journals.ametsoc.org/doi/abs/10.1175/2010JPO4429.1">
            Shuckburgh, E., Maze, G., Ferreira, D., Marshall, J., Jones, H. and Hill,
            C.</a> (2011),
          Mixed layer lateral eddy fluxes mediated by air-sea interaction, 
          J. Phys. Oceanogr., 
          41, 130-144.
          </li>
          <li>
          <a href="http://journals.ametsoc.org/doi/abs/10.1175/JPO-D-11-023.1">
            R. Abernathey, J. Marshall, D. Ferreira</a> (2011),
          Dependence of Southern Ocean Meridional Overturning on Wind Stress, 
          J. Phys. Oceanogr., 
          41, 2261-2278.
          </li>
          <li>
          <a href="http://journals.ametsoc.org/doi/abs/10.1175/2009JPO4201.1">
            R. Abernathey, J. Marshall, M. Mazloff, and E. Shuckburgh</a> (2010),
          Enhanced Isopycnal Mixing at Steering Levels in the Southern Ocean, 
          J. Phys. Oceanogr., 
          40, 170-184.
          </li>
          <li>
          <a href="http://journals.ametsoc.org/doi/abs/10.1175/JPO-D-12-027.1">
            L. St. Laurent, A. C. Naveira Garabato, J. R. Ledwell, A. M. Thurnherr,
            J.  M. Toole, A. J. Watson</a> (2012),
          Turbulence and Diapycnal Mixing in Drake Passage, 
          J. Phys. Oceanogr., 
          42, 2143-2152.
          </li>
          <li>
          <a href="http://onlinelibrary.wiley.com/doi/10.1002/grl.50260/abstract">
            Meredith, M. P., P. J. Brown, A. C. Naveira Garabato, L. Jullion, H. J.
            Venables, and M.-J. Messias</a> (2013),
          Dense bottom layers in the Scotia Sea, Southern Ocean: creation, lifespan
          and destruction, in press, Geophys. Res. Lett.,  doi:10.1002/grl.50260.
          </li>
          <li>
          <a href="http://journals.ametsoc.org/doi/abs/10.1175/JPO-D-12-0222.1">
            J. Alexander Brearley, Katy L. Sheen, Alberto C. Naveira Garabato, David
            A. Smeed, and Stephanie Waterman</a> (November 2013),
          Eddy-Induced Modulation of Turbulent Dissipation over Rough Topography in
          the Southern Ocean,
          Journal of Physical Oceanography, 
          43, No. 11, 2288-2308.
          </li>
          <li>

          <a href="http://doi.org/10.1029/2010RG000348">
            Meredith, M. P., P. L. Woodworth, T. K. Chereskin, D. P. Marshall, L. C.
            Allison, G. R. Bigg, K. Donohue, K. J. Heywood, C. W. Hughes, A. Hibbert,
            A. M.  Hogg, H. L. Johnson, L. Jullion, B. A. King, H. Leach, Y.-D.Lenn,
            M.  A. M.  Maqueda, D. R. Munday, A. C. N. Garabato, C. Provost, J.-B.
            Sallée, and J. Sprintall</a> (2011),
          Sustained monitoring of the Southern Ocean at Drake Passage: past
          achievements and future priorities. 
          Reviews of Geophysics, 
          49(4), 
          doi:10.1029/2010RG000348
          </li>
          <li>
          <a href="http://doi.org/10.1029/2010RG000348">
            Meredith, M. P., P. J. Brown, A. C. Naveira Garabato, L. Jullion, H. J.
            Venables, and M.-J. Messias</a> (2013),
          Dense bottom layers in the Scotia Sea, Southern Ocean: Creation, lifespan,
          and destruction, 
          Geophys. Res. Lett., 
          40, 933–936,
          doi:10.1002/grl.50260.
          </li>
          <li>
          <a href="http://doi.org/10.1175/JTECH-D-12-00241.1">
            Frants, Marina, Gillian M. Damerell, Sarah T. Gille, Karen J. Heywood,
            Jennifer MacKinnon, Janet Sprintall</a> (2013),
          An Assessment of Density-Based Finescale Methods for Estimating Diapycnal
          Diffusivity in the Southern Ocean. 
          J. Atmos. Oceanic Technol., 
          30, 2647–2661,
          doi:10.1175/JTECH-D-12-00241.1
          </li>
          <li>
          <a href="http://www-pord.ucsd.edu/~sgille/pub_dir/dimes_clivarexchanges.pdf">
            Gille, S. T. Gille, J. Ledwell, A. Naveira-Garabato, K. Speer, D.
            Balwada, A.  Brearley, J. B. Girton, A. Griesel, R. Ferrari, A. Klocker,
            J. LaCasce, P.  Lazarevich, N. Mackay, M. P. Meredith, M.-J. Messias, B.
            Owens, J.-B.  Sallée, K. Sheen, E. Shuckburgh, D. A. Smeed, L. C. St.
            Laurent, J. M.  Toole, A. J.  Watson, N. Wienders, and U.
            Zajaczkovski</a> (2012),
          The Diapycnal and Isopycnal Mixing Experiment: A First Assessment, 
          CLIVAR Exchanges, 
          17(1), 46-48.
          </li>
          <li>
          <a href="http://doi.org/10.1175/JPO-D-12-069.1">
            Mazloff, Matthew R., Raffaele Ferrari, Tapio Schneider</a> (2013),
          The Force Balance of the Southern Ocean Meridional Overturning Circulation,
          J. Phys. Oceanogr., 
          43, 1193-1208,
          doi:10.1175/JPO-D-12-069.1
          </li>
          <li>
          <a href="http://doi.org/10.1175/JPO-D-13-0175.1">
            J. H. LaCasce, R. Ferrari, J. Marshall, R. Tulloch, D. Balwada, and K. Speer
          </a> (February 2014),
          Float-Derived Isopycnal Diffusivities in the DIMES Experiment.
          Journal of Physical Oceanography,
          44(2), 764-780,
          doi:10.1175/JPO-D-13-0175.1
          </li>
        </ul>

      <br>

      <h3 class="text-center">Precursors to DIMES</h3>
      <p>A few studies involving DIMES investigators:</p>
        <ul>
          <li>
            <a href="http://www.nature.com/nature/journal/v447/n7141/abs/nature05832.html">
              Naveira Garabato, A. C., D. P. Stevens, A. J. Watson and W. Roether</a> (2007), 
            Short-circuiting of the overturning circulation in the Antarctic
            Circumpolar Current. 
            Nature
            447, 194-197.
          </li> 
          <li>
              Thompson, A. F., S. T. Gille, J. A. MacKinnon, and J. Sprintall (2007),
            Spatial and Temporal Patterns of Small-Scale Mixing in Drake Passage, 
            J. Phys. Oceanogr., 
            37, 572-592. 
            <a href="http://www-pord.ucsd.edu/~sgille/pub_dir/i1520-0485-37-3-572.pdf">(<img height="13" src="/static/pdf.jpg" /> reprint, 1855 kbytes)</a>
          </li> 
          <li>
              Chinn, B. S. and S. T. Gille (2006),
            Estimating Eddy Heat Flux from Float Data in the North Atlantic: The Impact
            of Temporal Sampling Interval, 
            J. Atmos. Ocean. Tech., 
            24, 923-934.
            <a href="http://www-pord.ucsd.edu/~sgille/pub_dir/chinn_gille.pdf">(<img height="13" src="/static/pdf.jpg" /> reprint, 1.27 Mbytes)</a>
          </li> 
        </ul>
      
    </div>
  </div>
{% endblock %}