{% extends "base.html" %}
{% block content %}
<div class="row">
	<h1>US1 Cruise Data</h1>
		<table class="table table-bordered table-condensed">
			<tr class="active">
				<th>Data Type</th>
				<th>Content Type</th>
				<th>Size</th>
				<th>Created</th>
				<th>Files</th>
			</tr>
			<tr class="active">
				<td>ADCP</td>
				<td>application/octet-stream</td>
				<td>5 MB</td>
				<td>2012-11-02 19:51:03 UTC</td>
				<td><a href="#">countour_uv.mat</a><br><a href="#">contour_xy.mat</a></td>
			</tr>
			<tr class="active">
				<td>Altimetry</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr class="active">
				<td>CTD</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr class="active">
				<td>EM-APEX</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr class="active">
				<td>LADCP</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr class="active">
				<td>METdata</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr class="active">
				<td>Multibeam</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr class="active">
				<td>NAV</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr class="active">
				<td>XBT</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		</table>
	<div class="row">
{% endblock %}