<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DimesFS</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/dimesfs/static/vendor/dropzone/css/dropzone.css">
    <link rel="stylesheet" href="/dimesfs/static/dimesfs.css">
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token  }}">
  </head>
  <body>
    <table class="table table-hover">
      <thead>
        <tr>
          <th style="width:20px"></th>
          <th>Name</th>
          <th></th>
        </tr>
      </thead>
      <tbody id="fs_table">
      </tbody>
    </table>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.js"></script>
    <script src="/dimesfs/static/vendor/dropzone/dropzone.js"></script>
    <script src="/dimesfs/static/js/jquery.cookie.js"></script>
    <script>
    Dropzone.autoDiscover = false;

    var fs_struct;
    var current_path = [];
    if (window.location.hash == ""){
      window.location.hash = encodeURIComponent(JSON.stringify([])); 
    } else {
      parseHash();
    }
    $.getJSON("/dimesfs/fslist", function(data){
      fs_struct = data;
      set_table();
    });
    function parseHash(){
      try{
        current_path = JSON.parse(decodeURIComponent(window.location.hash.slice(1)));
      } catch (e) {
        window.location.hash = encodeURIComponent(JSON.stringify([])); 
      }
    }
    function localeCompare(a,b){return a.localeCompare(b)}
    function createIcon(type) {
        return $('<span class="glyphicon glyphicon-' + type + '"></span>');
    }
    function createRow(icon, body, accessory) {
      var tr = $("<tr></tr>");
      tr.append($('<td></td>').append(icon));
      tr.append($('<td></td>').append(body));
      tr.append($('<td></td>').append(accessory));
      return tr;
    }
    function input_hidden(name, value) {
      return '<input type="hidden" name="' + name + "\" value='" + value + "'>";
    }
    function createRowFile(file) {
      var accessories = $('<span class="pull-right"></span>');
      if (file.fname.slice(-4) == ".zip") {
        var unzip_button = $('<button type="button" class="btn btn-default btn-xs"></button>');
        unzip_button.append(createIcon('gift'));
        unzip_button.click(function() { dimesfs_unzip(this, file); });
        accessories.append(unzip_button);
      }
      var delete_button = $('<button type="button" class="btn btn-default btn-xs"></button>');
      delete_button.append(createIcon('remove'));
      delete_button.click(function() { dimesfs_del(this, file); });
      accessories.append(delete_button);
      var tr = createRow(
        createIcon('file'),
        $('<a href="' + file.url + '">' + file.fname + '</a>'),
        accessories);
      return tr;
    }
    function createRowDir(key) {
      var tr = createRow(createIcon('folder-close'), key, '')
        .click(function () {dimesfs_cd(key);});
      return tr;
    }
    function set_table(){
      var new_tbody = $('<tbody id="fs_table"></tbody>');

      // Change directory list item
      var new_dir_form = $('<input type="text" class="form-control input-sm" placeholder="new directory">')
        .blur(function() {dimesfs_cd($(this).val());});
      var tr = createRow(createIcon('plus'), new_dir_form, '');
      new_tbody.append(tr);

      // Upload files list item
      var new_upload_form = $(
          '<form class="dropzone" action="/dimesfs/upload" method="POST" enctype="multipart/form-data">'+
          input_hidden("csrfmiddlewaretoken", $.cookie("csrftoken")) + 
          input_hidden("path", JSON.stringify(current_path)) + 
          '<div class="fallback input-group">' +
          '<input type="file" name="file" class="form-control input-sm" multiple>' +
          '<span class="input-group-btn">' +
          '<input class="btn btn-default btn-sm" type="submit" value="Upload">' +
          '</span>' +
          '</div>' +
        '</form>');
      new_upload_form.dropzone({
        //forceFallback: true
        success: function(_, resp) {
          files.push(resp);
          var tr = createRowFile(resp);
          new_tbody.append(tr);
        }
      });
      var tr = createRow(createIcon('upload'), new_upload_form, '');
      new_tbody.append(tr);

      // Add list items for files and directories
      var files = [];
      parseHash();
      $.ajax({
        type: "POST",
        url: "/dimesfs/dirflist",
        data: JSON.stringify(current_path),
        success: function(data){
          files = data;
        },
        dataType: 'json',
        async:false
      });

      var dug_tree = fs_struct;
      for (var i=0; i< current_path.length; i++){
        var cd = current_path[i];
        if (dug_tree.hasOwnProperty(cd)){
          dug_tree = dug_tree[cd];
        } else {
          window.location.hash = encodeURIComponent(JSON.stringify([])); 
        }
      }

      if (current_path.length > 0){
        var tr = createRow(createIcon('folder-open'), '..', '')
          .click(function () {dimesfs_cd("..");});
        new_tbody.append(tr);
      }

      var keys = Object.keys(dug_tree);
      keys = keys.sort(localeCompare);
      for (var i=0; i < keys.length; i++){
        var key = keys[i];
        var tr = createRowDir(key);
        new_tbody.append(tr);
      }

      files = files.sort(function(a,b){return localeCompare(a.fname, b.fname)});
      for (var i=0; i < files.length; i++){
        var file = files[i];
        var tr = createRowFile(files[i]);
        new_tbody.append(tr);
      }

      $("#fs_table").replaceWith(new_tbody);
    }
    function dimesfs_add_dir(tbody, dname) {
      if ($(tbody.children('tr:contains("' + dname + '")'))) {
        return;
      }
      var tr = createRowDir(dname);
      tbody.append(tr);
    }
    function dimesfs_unzip(target, file) {
      $.ajax({
        type: "POST",
        url: "/dimesfs/unzip",
        data: {
          uri: file.url,
          csrfmiddlewaretoken: $.cookie('csrftoken')
        },
        success: function(data) {
          var dname = data['dirname'];
          dimesfs_add_dir($(target).parents('tbody'), dname);
        },
        dataType: 'json',
        async: false
      });
    }
    function dimesfs_del(target, file) {
      var answer = confirm("Delete " + file.fname + "?");
      if (answer) {
        $.ajax({
          type: "POST",
          url: "/dimesfs/delete",
          data: {
            uri: file.url,
            csrfmiddlewaretoken: $.cookie('csrftoken')
          },
          success: function(data){
            if (data.status == "ok") {
              $(target).parents('tr').hide('fast').remove();
            }
          },
          dataType: 'json',
          async: false
        });
      }
    }
    function dimesfs_cd(path){
      if (path == ".."){
        current_path.pop()
      } else {
        current_path.push(path)
      }
      window.location.hash = encodeURIComponent(JSON.stringify(current_path));
    }
    window.onhashchange = set_table;
    </script>
  </body>
</html>
