<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DimesFS</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  </head>
  <body>
    <table class="table table-hover">
      <thead>
        <tr>
          <th style="width:20px"></th>
          <th>Name</th>
        </tr>
      </thead>
      <tbody id="fs_table">
      </tbody>
    </table>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.js"></script>
    <script>
    var fs_struct;
    var current_path = [];
    $.getJSON("/dimesfs/fslist", function(data){
      fs_struct = data;
      set_table();
    });
    function set_table(){
      var new_tbody = $('<tbody id="fs_table"></tbody>');
      var files = []
      $.ajax({
        type: "POST",
        url: "/dimesfs/dirflist",
        data: JSON.stringify(current_path),
        success: function(data){
          files = data;
        },
        dataType: 'json',
        async:false
      });

      var dug_tree = fs_struct;
      for (var i=0; i< current_path.length; i++){
        var cd = current_path[i];
        if (dug_tree.hasOwnProperty(cd)){
          dug_tree = dug_tree[cd];
        }
      }

      if (current_path.length > 0){
        var tr = $("<tr onclick='dimesfs_cd(\"..\")'></tr>");
        tr.append($('<td><span class="glyphicon glyphicon-folder-close"></span></td>'));
        tr.append($('<td>..</td>'));
        new_tbody.append(tr);
      }

      for (var i=0; i < files.length; i++){
        var tr = $("<tr></tr>");
        tr.append($('<td><span class="glyphicon glyphicon-file"></span></td>'));
        tr.append($('<td>'+files[i]+'</td>'));
        new_tbody.append(tr);
      }

      var keys = Object.keys(dug_tree);
      for (var i=0; i < keys.length; i++){
        var tr = $("<tr onclick='dimesfs_cd(\""+keys[i]+"\")'></tr>");
        tr.append($('<td><span class="glyphicon glyphicon-folder-close"></span></td>'));
        tr.append($('<td>'+keys[i]+'</td>'));
        new_tbody.append(tr);
      }
      $("#fs_table").replaceWith(new_tbody);
    }
    function dimesfs_cd(path){
      if (path == ".."){
        current_path.pop()
      } else {
        current_path.push(path)
      }
      set_table();
    }
    </script>
  </body>
</html>
