{% extends "base.html" %}
{% block content %}
<div class="fs_table">
  <table class="table table-hover">
    <thead>
      <tr>
        <th style="width:20px"></th>
        <th>Name</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody id="fs_table">
    </tbody>
  </table>
</div>
{% endblock %}
{% block links %}
  <link rel="stylesheet" href="/dimesfs/static/vendor/dropzone/css/dropzone.css">
  <link rel="stylesheet" href="/dimesfs/static/dimesfs.css">
  <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/themes/smoothness/jquery-ui.css">
{% endblock %}
{% block scripts %}
  <script src="/dimesfs/static/vendor/dropzone/dropzone.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
  <script src="/dimesfs/static/js/jquery.cookie.js"></script>
  <script>
var dimesfs = {};
dimesfs.is_authenticated = {% if user.is_authenticated %}true{% else %}false{% endif %};
  </script>
  <script src="/dimesfs/static/js/dimesfs.js"></script>
{% endblock %}
